<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/cssfiles/header.css">
    
 
</head>
<body class = "d-flex flex-column vh-100">
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css" type="text/css">
    

        
    <% if(error && error.length) {%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>


    <div class = "myNavbar">
        <nav>
            <h2><a href="/" class = "logo">EATSTAGRAM</a></h2>
            <ul>
                <li><a href="/foodposts">All Foodposts</a></li>
                <li><a href="/foodposts/new">New Foodpost</a></li>
                <% if(!currentUser) {%>
                    <li><a href="/profile/register">Register</a></li>
                <% } else {%>
                    <li><a href="/profile/<%= currentUser._id %>">Profile</a></li>
                <% } %>
            </ul>
            <% if(!currentUser){ %>
                <a href = "/profile/login" class="btn btn-info mybutton" >Login</a>
            <%} else {%>
                <a href = "/profile/logout" class="btn btn-info mybutton" >Logout</a>
            <% } %>
        </nav>
    </div>





