body{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("/photos/burger2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70.8vh;
}


.container1{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    
}


header{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-field .input{
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(255,255,255,0.2);
    outline: none;
    margin-top: 15px;
}

#firstButton{
    margin-top: 20px;
    font-weight: bold;

}

i{
    position: relative;
    top: -30px;
    left: 17px;
    color: #fff;
}
::-webkit-input-placeholder{
    color: #fff;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
    background-color: black;
    color:white;
}
.two-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}
.one{
    display: flex;
}
label a{
    text-decoration: none;
    color: #fff;
}

#secondButton{
    background-color: black;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    color:white;
    font-weight: bold;
}

#secondButton:hover{
    background-color: grey;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    color:black;
}