.mycontainer1{
    height: 400px;
}


.sidebar{
    background: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 100%
    
}

.row{
    height: 100%;
}

.sidebar2{
    position:absolute;
    top: 200;
    right: 0;
    width: 15%;
    height:400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: black;

}



::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: white;
}

.scrollbox{
    overflow: auto;
    padding-bottom: 20px;

}

.scrollbox-inner p{
    font-size: 16px;
}

header h2{
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

.card-body1:hover{
    background: black;
    color: white;
}

.card-body1{
    border-radius: 10px;
}

.card-body2{
    border-radius: 10px;

}

.card-body2:hover{
    background: white;
    color: black;
}

a:hover{
    color:black;
}


.card1{
    width: 80%;
    margin-left: 32px;
    border-radius: 10px;
}

.middleClass{
    background:white;
}


button[type = "submit"]{
    position: relative;
    top: 200px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: .3s ;
    padding: 10px;
}

#acceptFriendRequest{
    background:green;
}

#acceptFriendRequest:hover{
    background: black;
}

#removeFriend{
    background:red;
}

#removeFriend:hover{
    background: black;
}

.container3{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#addFriend{
    background:#40E0D0;
}

#addFriend:hover{
    background:black;
}

table{
    position: absolute;
    top: 300px;
}