<%- include('./partials/header')%>

<link rel="stylesheet" href="/cssfiles/landingPage.css">


<div class = "container welcome">
    <h1><strong>WELCOME OLIVER</strong></h1>
    <br>
    <h2>What would you like to do?</h2>
    <br>
    <br>
    <a href = "/foodposts" class="btn btn-info mybutton1" >View For You Page</a>
    <a href = "/foodposts/search" class="btn btn-info mybutton1" >Search</a>

</div>





<%- include('./partials/footer')%>
